<div>
  <h3 class="header-text donelist-header">I did it!</h3>
  <div class="doneListWrap">
    <div class="doneListItem" *ngFor="let done of doneList; let i = index">
      {{ done.todo }}
    </div>
  </div>
</div>
<div *ngIf="todoList.length > 0">
  <h3 class="header-text todolist-header">To Do</h3>
  <div class="todoListWrap" [formGroup]="todoListform">
    <div
      class="todoListItem"
      formArrayName="todoListArr"
      *ngFor="let list of todoFormArray.controls; let i = index"
    >
      <label [formGroupName]="i">
        <input type="checkbox" formControlName="completed" />
        {{ i + 1 }}.{{ todoList[i].todo }}
      </label>
    </div>
  </div>
</div>
