<div>
  <h3 class="header-text donelist-header">I did it!</h3>
  <div class="doneListWrap" aria-label="done list">
    <div class="doneListItem" *ngFor="let done of doneList; let i = index">
      {{ done.todo }}
    </div>
  </div>
</div>
<div *ngIf="todoList.length > 0">
  <h3 class="header-text todolist-header">To Do</h3>
  <div
    class="todoListWrap"
    [formGroup]="todoListform"
    role="form"
    aria-label="todo list"
  >
    <div
      class="todoListItem"
      role="list"
      formArrayName="todoListArr"
      *ngFor="let list of todoFormArray.controls; let i = index"
    >
      <div [formGroupName]="i" role="listitem">
        <input
          type="checkbox"
          formControlName="completed"
          [id]="'checkbox-' + i"
        />
        <label [for]="'checkbox-' + i">
          {{ i + 1 }}.{{ todoList[i].todo }}
        </label>
      </div>
    </div>
  </div>
</div>
